<head>
<link rel="stylesheet" type="text/scss" href="/Documents/beginner-bootcamp/hackuthon/app/assets/stylesheets/application.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>

<% @arts.each do |art| %>
<p><%= link_to art.name, art_path(art.id) %></p>

  <% end %>

<hr>

<%= link_to "Add new art", new_art_path %>
