<head>
  <link rel="stylesheet" type="text/scss" href="/Documents/beginner-bootcamp/hackuthon/app/assets/stylesheets/museums.scss">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<h1> List of musea </h1>

<br/>
    <% @museums.each do |museum| %>

        <p><%= museum.name %></p>
        <p><%= link_to 'Show', museum %></p>
        <br/>



    <% end %>


<br>
