*{
  background-color: GhostWhite;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-decoration: none;
  text-color: black;
}

input[type=text,number] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-width: 2px;
    background-color: Maroon;
    color: white;
}

.Image img{
  width: 700px;
  text-align: center;
}

.Header {
  padding: 20px;
}
.Footie{
}
.container
{
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}
